In [124]:
import pandas as pd

In [125]:
import numpy as np

In [126]:
import seaborn as sns

In [127]:
import matplotlib.pyplot as plt
%matplotlib inline

In [128]:
import re

In [129]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [130]:
from sklearn.model_selection import train_test_split

In [131]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, confusion_matrix

In [132]:
from sklearn.naive_bayes import MultinomialNB

In [133]:
from sklearn.feature_extraction.text import CountVectorizer

In [134]:
train_df = pd.read_csv('train_tweets.csv')

In [135]:
test_df = pd.read_csv('test_tweets.csv')

In [136]:
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [137]:
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [138]:
train_df.drop(['id'], axis = 1, inplace = True)

In [139]:
#test_df.drop(['id'], axis = 1, inplace = True)

In [140]:
train_df.shape

(31962, 2)

In [141]:
test_df.shape

(17197, 2)

In [142]:
train_df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [143]:
ps = PorterStemmer()

In [144]:
lemmatizer = WordNetLemmatizer()

In [145]:
porter_stemmer_list = []

In [146]:
%%time
for index, val in train_df['tweet'].items():
    val = re.sub('[^0-9a-zA-Z0-9]', ' ', val.lower())
    val = val.split()
    word = [ps.stem(word) for word in val if word not in stopwords.words('english')]
    val = ' '.join(word)
    porter_stemmer_list.append(val)

CPU times: user 45.4 s, sys: 7.67 s, total: 53.1 s
Wall time: 53.3 s

In [147]:
cv = CountVectorizer(max_features=22146)

In [148]:
X = cv.fit_transform(porter_stemmer_list).toarray()

In [149]:
y = train_df['label']

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [151]:
navie_bayes_model_1 = MultinomialNB()

In [152]:
navie_bayes_model_1.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [153]:
y_predict = navie_bayes_model_1.predict(X_test)

In [154]:
accuracy_score(y_test, y_predict)

0.9519240796746272

In [155]:
f1_score(y_test, y_predict)

0.6083262531860664

In [156]:
recall_score(y_test, y_predict)

0.5637795275590551

### TO train in whole train data and test on whole test data for submission

In [157]:
porter_stemmer_list_test = []

In [158]:
%%time
for index, val in test_df['tweet'].items():
    val = re.sub('[^0-9a-zA-Z0-9]', ' ', val.lower())
    val = val.split()
    word = [ps.stem(word) for word in val if word not in stopwords.words('english')]
    val = ' '.join(word)
    porter_stemmer_list_test.append(val)

CPU times: user 25.7 s, sys: 4.34 s, total: 30 s
Wall time: 30.1 s

In [159]:
cv = CountVectorizer(max_features=22146)

In [160]:
X_test = cv.fit_transform(porter_stemmer_list_test).toarray()

In [161]:
X_test.shape

(17197, 22146)

In [162]:
X_train = X

In [163]:
X_train.shape

(31962, 22146)

In [164]:
y_train = train_df['label']

In [165]:
navie_bayes_model_1 = MultinomialNB()

In [166]:
navie_bayes_model_1.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [167]:
y_predict = navie_bayes_model_1.predict(X_test)

In [168]:
submission = pd.DataFrame()

In [169]:
submission['id'] = test_df['id']

In [170]:
submission['label'] = y_predict

In [173]:
submission.to_csv('twitter_analysis_output.csv', sep = ',')